body {
  font-family: "Karla", sans-serif;
  background-color: #dfdfdf;
  /*min-height: 100vh;*/
}

/* =========================================================================================== */
/* navbar styles */
/* =========================================================================================== */
#logo {
height: 150px;
padding-left: 160px;
}

.navbar-light {
background-color: rgb(169, 173, 169);
border-bottom: 4px solid #e2024a;
}

.navbar-brand img {
  max-height: 5rem;
  padding-left: 70px;
}

.navbar-nav {
margin-right: 90px;
font-size: 1.2rem;
color: black;
}

.this-btn {
color: green;
}


/* =========================================================================================== */
/* Graphs */
/* =========================================================================================== */
#graph1 .card, #graph2 .card {
height: 300px;
margin: 120px 0 90px;
padding: 0 30px; 
z-index: -3;
}



/* =========================================================================================== */
/* index styles */
/* =========================================================================================== */

#index-body {
  margin: 0 auto;
}

#login-image {
    max-width: 100%;
}

#logo-login {
  height: 60px;
  padding-left: 20px;
}

.brand-wrapper {
  margin-bottom: 19px;
}
.brand-wrapper .logo {
  height: 37px;
}

.login-card {
  margin-top: 20%;
  border: 0;
  border-radius: 27.5px;
  box-shadow: 0 10px 30px 0 rgba(172, 168, 168, 0.43);
  overflow: hidden;
}

.login-card-img {
  border-radius: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.login-card .card-body {
  padding: 85px 60px 60px;
}
@media (max-width: 422px) {
  .login-card .card-body {
    padding: 35px 24px;
  }
}
.login-card-description {
  font-size: 2rem;
  color: #2d2d2d;
  font-weight: normal;
  max-width: 80%;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
}
.login-card form {
  margin: 0 auto;
  max-width: 80%;
}
.login-card .form-control {
  border: 1px solid #d5dae2;
  padding: 15px 25px;
  margin-bottom: 20px;
  min-height: 45px;
  font-size: 1rem;
  line-height: 15;
  font-weight: normal;
}
.login-card .form-control::-webkit-input-placeholder {
  color: #919aa3;
}
.login-card .form-control::-moz-placeholder {
  color: #919aa3;
}
.login-card .form-control:-ms-input-placeholder {
  color: #919aa3;
}
.login-card .form-control::-ms-input-placeholder {
  color: #919aa3;
}
.login-card .form-control::placeholder {
  color: #919aa3;
}
.login-card .login-btn {
  padding: 13px 20px 12px;
  background-color: #2d2d2d;
  border-radius: 4px;
  font-size: 17px;
  font-weight: bold;
  line-height: 20px;
  color: #fff;
  margin-bottom: 24px;
  box-shadow: 0 10px 30px 0 rgba(168, 168, 172, 0.43);
}
.login-card .login-btn:hover {
  border: 1px solid #2d2d2d;
  background-color: transparent;
  color: #2d2d2d;
}
.login-card .forgot-password-link {
  font-size: 14px;
  color: #919aa3;
  margin-bottom: 12px;
}
.login-card-footer-text {
  font-size: 16px;
  color: #0d2366;
  margin-bottom: 60px;
}
@media (max-width: 767px) {
  .login-card-footer-text {
    margin-bottom: 24px;
  }
}
.login-card-footer-nav a {
  font-size: 14px;
  color: #919aa3;
}

/*# sourceMappingURL=login.css.map */

#index-main {
  color: #6d6d6d;
  background-color: #f6f7fb;
}


/* =========================================================================================== */
/* dashboard styles */
/* =========================================================================================== */

#createTicketButton {
background-color: #e2024a;
padding: 10px 25px;
border-radius: 8px 8px 0 0;
color: white;
z-index: -2;
position: absolute;
top: 465px;
right: 110px;
border: none;
}


#ticketDisplay {
z-index: 3;
}

table {
  margin-top: 90px;
  border-collapse: separate;
  border-spacing: 0 10px;
}

th {
  background-color: lightblue;
  color: rgb(74, 78, 82);
  font-weight: bold;
  /* border: 1px solid rgb(228, 228, 228); */
}

th,
td {
  width: 500px;
  text-align: center;
  padding: 5px;
  height: 70px;
  border-radius: 2px;
}

tr {
  box-shadow: 0 10px 30px 0 rgba(207, 207, 209, 0.43);
}

td {
  background-color: white;
}
table { 
  border-collapse: separate; 
  border-spacing: 0 10px; 
  margin-top: -10px; /* correct offset on first border spacing if desired */
}
th:first-child, td:first-child {
  border-top-left-radius: 10px; 
  border-bottom-left-radius: 10px;
}
th:last-child, td:last-child {
  border-bottom-right-radius: 10px; 
  border-top-right-radius: 10px; 
}


/* Tickets - Hover Effect - Grow Shadow */
.hvr-grow-shadow {
-webkit-transform: perspective(1px) translateZ(0);
transform: perspective(1px) translateZ(0);
box-shadow: 0 0 1px transparent;
-webkit-transition-duration: 0.3s;
transition-duration: 0.3s;
-webkit-transition-property: box-shadow, transform;
transition-property: box-shadow, transform;
}
.hvr-grow-shadow:hover, .hvr-grow-shadow:focus, .hvr-grow-shadow:active {
box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
-webkit-transform: scale(1.1);
transform: scale(1.03);
}


/* =========================================================================================== */
/* lightbox styling */
/* =========================================================================================== */







/* =========================================================================================== */
/* form styles */
/* =========================================================================================== */  
#main-wrapper {
margin: 0 auto;
}

.btn-outline-dark {
background-color: #a8bbf3;
padding: 10px;
border-radius: 4px;
font-weight:900;
margin-bottom: 4rem;
margin-left: 2rem;
box-shadow: 0 10px 30px 0 rgba(172, 168, 168, 0.43);
}
.btn-outline-dark:hover {
border: 1px solid #2d2d2d;
background-color: transparent;
color: #2d2d2d;
}






/* =========================================================================================== */
/* sticky footer */
/* =========================================================================================== */  

html {
position: relative;
min-height: 100vh;
}

body {
margin-bottom: 100px; /* Margin bottom by footer height */
}
.footer {
position: absolute;
bottom: 0;
width: 100%;
height: 40px; /* Set the fixed height of the footer here */
line-height: 60px; /* Vertically center the text there */
background-color: #dfdfdf;
z-index: -1;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
width: auto;
max-width: 320px;
padding: 0 15px;
padding-bottom: 30px;
margin-top: 40px;
}