body {
    font-family: "Karla", sans-serif;
    background-color: #f6f7fb;
    min-height: 100vh;
  }


/* =========================================================================================== */
/* index styles */
/* =========================================================================================== */
  
  #login-image {
      max-width: 100%;
  }
  
  .brand-wrapper {
    margin-bottom: 19px;
  }
  .brand-wrapper .logo {
    height: 37px;
  }
  
  .login-card {
    margin-top: 20%;
    border: 0;
    border-radius: 27.5px;
    box-shadow: 0 10px 30px 0 rgba(172, 168, 168, 0.43);
    overflow: hidden;
  }
  
  .login-card-img {
    border-radius: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }
  .login-card .card-body {
    padding: 85px 60px 60px;
  }
  @media (max-width: 422px) {
    .login-card .card-body {
      padding: 35px 24px;
    }
  }
  .login-card-description {
    font-size: 2rem;
    color: #2d2d2d;
    font-weight: normal;
    max-width: 80%;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
  }
  .login-card form {
    margin: 0 auto;
    max-width: 80%;
  }
  .login-card .form-control {
    border: 1px solid #d5dae2;
    padding: 15px 25px;
    margin-bottom: 20px;
    min-height: 45px;
    font-size: 1rem;
    line-height: 15;
    font-weight: normal;
  }
  .login-card .form-control::-webkit-input-placeholder {
    color: #919aa3;
  }
  .login-card .form-control::-moz-placeholder {
    color: #919aa3;
  }
  .login-card .form-control:-ms-input-placeholder {
    color: #919aa3;
  }
  .login-card .form-control::-ms-input-placeholder {
    color: #919aa3;
  }
  .login-card .form-control::placeholder {
    color: #919aa3;
  }
  .login-card .login-btn {
    padding: 13px 20px 12px;
    background-color: #2d2d2d;
    border-radius: 4px;
    font-size: 17px;
    font-weight: bold;
    line-height: 20px;
    color: #fff;
    margin-bottom: 24px;
    box-shadow: 0 10px 30px 0 rgba(168, 168, 172, 0.43);
  }
  .login-card .login-btn:hover {
    border: 1px solid #2d2d2d;
    background-color: transparent;
    color: #2d2d2d;
  }
  .login-card .forgot-password-link {
    font-size: 14px;
    color: #919aa3;
    margin-bottom: 12px;
  }
  .login-card-footer-text {
    font-size: 16px;
    color: #0d2366;
    margin-bottom: 60px;
  }
  @media (max-width: 767px) {
    .login-card-footer-text {
      margin-bottom: 24px;
    }
  }
  .login-card-footer-nav a {
    font-size: 14px;
    color: #919aa3;
  }
  
  /*# sourceMappingURL=login.css.map */

  #index-main {
    color: #6d6d6d;
    background-color: #f6f7fb;
  }
  
  /* =========================================================================================== */
  /* form styles */
  /* =========================================================================================== */  

  .btn-outline-dark {
    background-color: #a8bbf3;
    padding: 10px;
    border-radius: 4px;
    font-weight:900;
    margin-bottom: 4rem;
    margin-left: 2rem;
    box-shadow: 0 10px 30px 0 rgba(172, 168, 168, 0.43);
  }
  .btn-outline-dark:hover {
    border: 1px solid #2d2d2d;
    background-color: transparent;
    color: #2d2d2d;
  }