body {
    background-color: gray;
    font-family: arial, sans-serif;
}

#mainWrapper {
    padding-bottom: 50px;;
}

/***** NAVBAR ******/
#logo {
    height: 80px;
    padding-left: 50px;
}

nav {
    height: 100px;
    background-color: rgb(139, 208, 230);
    color: red;
}

.nav-link:nth-child(1) {
    display: inline-block;
    margin-right: 200px;
    color: red;
}


/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add an active class to highlight the current page */
  .topnav a.active {
    background-color: #4CAF50;
    color: white;
  }
  
  /* Hide the link that should open and close the topnav on small screens */
  .topnav .icon {
    display: none;
  }



#logo {
    height: 80px;
    margin-left: 40px;
    margin-top: 15px;
}

.wrap {
    background-color: lightgray;
    margin: 0 auto;
   
}

/**** GRAPHS ******/
#graph1 .card, #graph2 .card {
    height: 300px;
    margin: 90px 0 30px;
    padding: 0 30px; 
}



/** #ticketDisplay {
    height: 300px;
    background-color: green;
    color: white;
    width: 95%;
    bottom: 0;
}
***/

/***BUTTONS****/

#create, #edit {
    background-color: rgb(66, 185, 224);
    border: none;
    padding: 10px;
    width: 160px;
    position: absolute;
    top: 475px;
    border-radius: 2px;
}

#create {
    right: 270px;
}

#edit {
    background-color: rgb(81, 163, 60);
    right: 100px;
}

/**** TICKET DISPLAY ******/
#ticketHeader, #tickets {
    margin: 0 auto;
    border-radius: 2px;
}

#ticketHeader .card {
    background-color: lightblue;
    margin-top: 75px;
    padding-bottom: 10px;
    margin-bottom: -17px;
}

#tickets .card, #ticketHeader .card {
    border: none;
    padding: 20px 0;
}

#tickets .card {
    padding-bottom: 0;
    margin-bottom: 10px;
}

a {
    position: absolute;
    right: 10px;
    top: 20px;
}

h5, p {
    color: black;
}

.btn-danger { 
    margin-right: 20px;
}

/**** FOOTER ******/

footer {
    background-color: rgb(109, 171, 192);
    height: 100px;
}